<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>389235194041-j0rtleienlstl2lft3t1mvhoddntlnj4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.389235194041-j0rtleienlstl2lft3t1mvhoddntlnj4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>389235194041-9ranu47ispgoaptmmeg560iavs11kt3m.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCPiIzpxImzx1-U8ZgXPtvSoYy6-ftlOlw</string>
	<key>GCM_SENDER_ID</key>
	<string>389235194041</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tmchat-123</string>
	<key>PROJECT_ID</key>
	<string>tmchat-2a005</string>
	<key>STORAGE_BUCKET</key>
	<string>tmchat-2a005.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:389235194041:ios:85ffe1ea67cd1668b68368</string>
</dict>
</plist>